Repository Kernel360/F1-WashFit-FE, pull requests merged in 2024-01, with the labels that each got.

#20 #14/vitest 설치 및 환경 설정
  jest.config.ts
  jest.setup.ts
  package.json
  src/__tests__/page.test.tsx
  vitest.config.ts
  yarn.lock
Labels: ⚙ Setting

#22 #21 classnames 설치
  package.json
  yarn.lock
Labels: ⚙ Setting

#24 공통 컴포넌트: Flex 컴포넌트 제작
  src/components/query/shared/flex/Flex.tsx
Labels: ✨ Feature

#26 공통 컴포넌트 제작: Spacing
  .storybook/preview-head.html
  .storybook/preview.ts
  src/app/globals.css
  src/components/query/shared/spacing/Spacing.stories.ts
  src/components/query/shared/spacing/Spacing.tsx
  src/styles/colorPalette.ts
  tsconfig.json
Labels: ⚙ Setting, ✨ Feature, ✅ Test

#30 공통 컴포넌트: Title
  public/assets/icons/pen.svg
  src/components/icons/Pen.tsx
  src/components/shared/spacing/Spacing.stories.tsx
  src/components/shared/text/Text.stories.tsx
  src/components/shared/text/Text.tsx
  src/components/shared/title/Title.stories.tsx
  src/components/shared/title/Title.tsx
Labels: ✨ Feature, ✅ Test

#33 공통 컴포넌트: BottomNav
  public/assets/icons/channel.svg
  public/assets/icons/favorite.svg
  public/assets/icons/home.svg
  public/assets/icons/map.svg
  public/assets/icons/profile.svg
  src/app/channel/page.tsx
  src/app/favorite/page.tsx
  src/app/map/page.tsx
  src/app/page.tsx
  src/app/profile/page.tsx
  src/components/icons/Channel.tsx
  src/components/icons/Favorite.tsx
  src/components/icons/Home.tsx
  src/components/icons/Map.tsx
  src/components/icons/Profile.tsx
  src/components/shared/bottom-nav/BottomNav.module.scss
  src/components/shared/bottom-nav/BottomNav.stories.tsx
  src/components/shared/bottom-nav/BottomNav.tsx
  src/utils/deleteFirstWord.ts
Labels: ✨ Feature, ✅ Test

#38 공통 컴포넌트: Textfield
  package.json
  src/components/shared/Input/Input.module.scss
  src/components/shared/Input/Input.stories.tsx
  src/components/shared/Input/Input.tsx
  src/components/shared/text-field/TextField.stories.tsx
  src/components/shared/text-field/TextField.tsx
  yarn.lock
Labels: ✨ Feature, ✅ Test

#40 공통 컴포넌트: Button
  src/app/globals.css
  src/components/shared/button/Button.stories.tsx
  src/components/shared/button/Button.tsx
  src/styles/button.ts
  src/styles/colorPalette.ts
Labels: ✨ Feature, ✅ Test

#35 공통 컴포넌트: Header
  public/assets/icons/back.svg
  public/assets/icons/logo.svg
  public/assets/icons/share.svg
  src/app/globals.css
  src/app/page.tsx
  src/components/icons/BackArrow.tsx
  src/components/icons/Heart.tsx
  src/components/icons/Logo.tsx
  src/components/icons/Share.tsx
  src/components/shared/header/Header.module.scss
  src/components/shared/header/Header.stories.tsx
  src/components/shared/header/Header.tsx
  src/components/shared/header/headerItems/CenterIcon.tsx
  src/components/shared/header/headerItems/LeftIcon.tsx
  src/components/shared/header/headerItems/RightIcon.tsx
  src/components/shared/header/types/headerType.ts
  src/styles/colorPalette.ts
  src/styles/typography.ts
Labels: ✨ Feature, 🎨 Html&css, ✅ Test

#42 공통 컴포넌트: Modal
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/components/shared/Modal/Modal.module.scss
  src/components/shared/Modal/Modal.stories.tsx
  src/components/shared/Modal/Modal.tsx
  src/components/shared/dimmed/Dimmed.module.scss
  src/components/shared/dimmed/Dimmed.tsx
  src/contexts/ModalContext.tsx
  src/hooks/useOutsideClick.ts
  src/stores/store.ts
  src/styles/button.ts
  tsconfig.json
  yarn.lock
Labels: ✨ Feature, ✅ Test

#46 환경설정: 스토리북 배포
  .github/workflows/chromatic.yml
  .gitignore
  package.json
  yarn.lock
Labels: 🌏 Deploy

#50 공통 컴포넌트: SearchBar
  public/assets/icons/delete.svg
  public/assets/icons/filter.svg
  public/assets/icons/search.svg
  src/components/icons/Delete.tsx
  src/components/icons/Filter.tsx
  src/components/icons/Search.tsx
  src/components/shared/search-bar/SearchBar.module.scss
  src/components/shared/search-bar/SearchBar.stories.tsx
  src/components/shared/search-bar/SearchBar.tsx
Labels: ✨ Feature, 🎨 Html&css, ✅ Test

#51 Common component accordion
  public/assets/icons/minus.svg
  public/assets/icons/plus.svg
  src/components/icons/Minus.tsx
  src/components/icons/Plus.tsx
  src/components/shared/accordion/Accordion.module.scss
  src/components/shared/accordion/Accordion.stories.tsx
  src/components/shared/accordion/Accordion.tsx
  src/components/shared/accordion/body/index.module.scss
  src/components/shared/accordion/body/index.tsx
  src/components/shared/accordion/header/index.module.scss
  src/components/shared/accordion/header/index.tsx
  src/components/shared/accordion/item/index.tsx
  src/components/shared/flex/Flex.tsx
  src/contexts/AccordionContext.tsx
Labels: ✨ Feature, ✅ Test

#54 공통 컴포넌트: Radio
  src/app/globals.css
  src/components/shared/radio/Radio.module.scss
  src/components/shared/radio/Radio.stories.tsx
  src/components/shared/radio/Radio.tsx
  src/styles/colorPalette.ts
Labels: ✨ Feature, ✅ Test

#56 공통 컴포넌트: Drawer
  package.json
  src/app/layout.tsx
  src/components/shared/drawer/Drawer.module.scss
  src/components/shared/drawer/Drawer.tsx
  src/contexts/ModalContext.tsx
  src/hooks/useMountTransition.ts
  src/stories/Page.stories.ts
  tsconfig.json
  vitest.config.ts
  yarn.lock
Labels: ✨ Feature

#61 공통 컴포넌트: ProgressBar
  src/components/shared/progress-bar/ProgressBar.module.scss
  src/components/shared/progress-bar/ProgressBar.stories.tsx
  src/components/shared/progress-bar/ProgressBar.tsx
  tsconfig.json
Labels: ✨ Feature, 🎨 Html&css, ✅ Test

#62 페이지 UI: 회원가입
  src/app/signup/layout.tsx
  src/app/signup/page.module.scss
  src/app/signup/page.tsx
  src/components/shared/Input/Input.module.scss
  src/components/shared/Input/Input.tsx
  src/components/shared/flex/Flex.tsx
  src/components/shared/radio/Radio.module.scss
  src/components/shared/radio/Radio.tsx
  src/components/shared/text-field/TextField.tsx
Labels: ✨ Feature, 🎨 Html&css

#64 환경설정: msw 설치 및 환경설정
  next.config.js
  package.json
  public/mockServiceWorker.js
  src/app/layout.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/index.ts
  src/mocks/server.ts
  src/providers/MswProvider.tsx
  tsconfig.json
  vitest.setup.ts
  yarn.lock
Labels: ⚙ Setting, ✅ Test

#66 환경설정: axios create 및 instance 작성
  src/remote/api/common.api.ts
  src/remote/api/instance.api.ts
  src/remote/api/requests/requests.api.ts
  src/utils/logOnDev.ts
Labels: ✨ Feature

#70 페이지 기능: 회원가입 페이지 쿼리훅 제작
  src/app/signup/page.tsx
  src/constants/validationMessage.ts
  src/mocks/authHandler/index.ts
  src/mocks/handlers.ts
  src/remote/api/instance.api.ts
  src/remote/api/requests/auth/auth.post.api.ts
  src/remote/api/types/auth.ts
  src/remote/queries/auth/useSignup.ts
  tsconfig.json
Labels: ✨ Feature

#72 테스트: 회원가입 페이지 테스트 코드 작성
  .github/workflows/ci.yml
  next.config.js
  package.json
  src/__tests__/page.test.tsx
  src/app/signup/page.test.tsx
  src/app/signup/page.tsx
  src/components/shared/button/Button.tsx
  src/providers/TanstackQueryProvider.tsx
  src/remote/api/instance.api.ts
  src/remote/api/requests/auth/auth.post.api.ts
  src/tests/test-utils.tsx
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Labels: ⚙ Setting, ✨ Feature, ✅ Test

#74 페이지 UI: 로그인
  src/app/login/layout.tsx
  src/app/login/page.module.scss
  src/app/login/page.tsx
  src/components/shared/text-field/TextField.tsx
Labels: ✨ Feature, 🎨 Html&css

#76 페이지 UI: 메인 페이지
  package.json
  public/assets/banner.png
  public/assets/recommandItem1.png
  public/assets/recommandItem2.png
  public/assets/recommandItem3.png
  public/assets/recommandItem4.png
  src/app/globals.css
  src/app/page.module.css
  src/app/page.module.scss
  src/app/page.tsx
  src/components/shared/bottom-nav/BottomNav.module.scss
  src/components/shared/carousel/Banner.stories.tsx
  src/components/shared/carousel/Banner.tsx
  src/components/shared/carousel/Carousel.stories.tsx
  src/components/shared/carousel/RecommandList.stories.tsx
  src/components/shared/carousel/RecommandList.tsx
  src/components/shared/carousel/types/Carousel.ts
  src/components/shared/carousel/types/carousel.type.ts
  src/components/shared/header/Header.module.scss
  src/components/shared/header/Header.tsx
  src/components/shared/header/types/headerType.ts
  src/components/shared/product-article/ProductArticle.tsx
  src/components/shared/radio/Radio.module.scss
  src/components/shared/radio/Radio.tsx
  src/styles/colorPalette.ts
  yarn.lock
Labels: 🎨 Html&css, 🐞 BugFix

#79 페이지 기능: 로그인 페이지 쿼리훅 제작
  src/app/login/page.tsx
  src/constants/validationMessage.ts
  src/mocks/authHandler/index.ts
  src/remote/api/requests/auth/auth.post.api.ts
  src/remote/queries/auth/useLogin.ts
Labels: ✨ Feature, 📬 API

#83 공통 컴포넌트: buttom-nav 스타일링 변경
  public/assets/icons/channel.svg
  public/assets/icons/favorite.svg
  public/assets/icons/filledFavorite.svg
  public/assets/icons/filledHome.svg
  public/assets/icons/home.svg
  public/assets/icons/location.svg
  public/assets/icons/map.svg
  public/assets/icons/profile.svg
  src/components/icons/Channel.tsx
  src/components/icons/Favorite.tsx
  src/components/icons/FilledFavorite.tsx
  src/components/icons/FilledHome.tsx
  src/components/icons/Home.tsx
  src/components/icons/Map.tsx
  src/components/icons/Profile.tsx
  src/components/shared/bottom-nav/BottomNav.module.scss
  src/components/shared/bottom-nav/BottomNav.tsx
Labels: 🎨 Html&css

#88 공통 컴포넌트: DetailsLoading
  public/assets/loading.png
  src/components/details/details-loading/DetailsLoading.module.scss
  src/components/details/details-loading/DetailsLoading.stories.tsx
  src/components/details/details-loading/DetailsLoading.tsx
Labels: 🎨 Html&css

#90 공통 컴포넌트: Dropdown
  public/assets/icons/expand.svg
  src/app/globals.css
  src/components/icons/Expand.tsx
  src/components/shared/dropdown/Dropdown.module.scss
  src/components/shared/dropdown/Dropdown.stories.tsx
  src/components/shared/dropdown/Dropdown.tsx
  src/styles/colorPalette.ts
Labels: ✨ Feature, 🎨 Html&css

#84 공통 컴포넌트: Header UI 변경
  public/assets/icons/filledHeart.svg
  public/assets/icons/heart.svg
  public/assets/icons/search.svg
  src/app/login/page.tsx
  src/app/signup/page.tsx
  src/components/icons/BackArrow.tsx
  src/components/icons/FilledHeart.tsx
  src/components/icons/Heart.tsx
  src/components/icons/Logo.tsx
  src/components/icons/Search.tsx
  src/components/icons/Share.tsx
  src/components/shared/header/Header.module.scss
  src/components/shared/header/Header.stories.tsx
  src/components/shared/header/Header.tsx
  src/components/shared/header/headerItems/LeftIcon.tsx
  src/components/shared/header/headerItems/RightIcon.tsx
  src/components/shared/header/types/headerType.ts
  src/components/shared/product-article/ProductArticle.tsx
Labels: 🎨 Html&css

#86 페이지 UI: 프로필 페이지
  public/assets/icons/linkArrow.svg
  src/app/globals.css
  src/app/my-page/page.module.scss
  src/app/my-page/page.tsx
  src/components/icons/LinkArrow.tsx
  src/components/shared/title/Title.tsx
  src/styles/colorPalette.ts
Labels: 🎨 Html&css

#93 페이지 UI: 회원탈퇴 페이지
  public/assets/icons/checkbox.svg
  src/app/required-password/layout.tsx
  src/app/required-password/page.tsx
  src/app/withdraw/layout.tsx
  src/app/withdraw/page.module.scss
  src/app/withdraw/page.tsx
  src/components/icons/Checkbox.tsx
Labels: ✨ Feature, 🎨 Html&css

#95 페이지 UI: 차량 부가정보 페이지
  .eslintrc.json
  .storybook/preview-body.html
  src/app/car-details/hydrated-page.tsx
  src/app/car-details/layout.tsx
  src/app/car-details/page.tsx
  src/app/layout.tsx
  src/app/signup/page.tsx
  src/components/additional-info/car-details/CarColorPicker.module.scss
  src/components/additional-info/car-details/CarColorPicker.tsx
  src/components/additional-info/car-details/CarDetails.tsx
  src/components/additional-info/car-details/color-picker/ColorPicker.module.scss
  src/components/additional-info/car-details/color-picker/ColorPicker.stories.tsx
  src/components/additional-info/car-details/color-picker/ColorPicker.tsx
  src/components/additional-info/description/Description.tsx
  src/components/additional-info/details-loading/DetailsLoading.module.scss
  src/components/additional-info/details-loading/DetailsLoading.stories.tsx
  src/components/additional-info/details-loading/DetailsLoading.tsx
  src/components/shared/fixedBottomButton/FixedBottomButton.module.scss
  src/components/shared/fixedBottomButton/FixedBottomButton.stories.tsx
  src/components/shared/fixedBottomButton/FixedBottomButton.tsx
  src/components/shared/modal/Modal.module.scss
  src/components/shared/modal/Modal.stories.tsx
  src/components/shared/modal/Modal.tsx
  src/components/shared/progress-bar/ProgressBar.tsx
  src/constants/delay.ts
  src/contexts/ModalContext.tsx
  src/providers/MockProvider.tsx
  src/providers/QueryProvider.tsx
  src/remote/api/requests/additional-info/additional-info.get.api.ts
  src/remote/api/types/additional-info.ts
  src/remote/queries/additional-info/car-details/useCarColor.tsx
  src/remote/queries/additional-info/car-details/useCarDriving.tsx
  src/remote/queries/additional-info/car-details/useCarParking.tsx
  src/remote/queries/additional-info/car-details/useCarSegment.tsx
  src/remote/queries/additional-info/car-details/useCarType.tsx
  src/tests/test-utils.tsx
  vitest.config.ts
  vitest.setup.ts
Labels: ✨ Feature, 🎨 Html&css, ✅ Test

#97 공통 컴포넌트: Skeleton
  src/components/shared/skeleton/Skeleton.module.scss
  src/components/shared/skeleton/Skeleton.stories.tsx
  src/components/shared/skeleton/Skeleton.tsx
Labels: ✨ Feature, ✅ Test

#99 페이지 UI: 제품 상세 페이지 미완성
  public/assets/icons/star.svg
  public/assets/product.png
  src/app/product/[id]/page.module.scss
  src/app/product/[id]/page.tsx
  src/components/icons/Star.tsx
  src/components/shared/radio/Radio.module.scss
  src/components/shared/radio/Radio.tsx
Labels: 🎨 Html&css

#101 공통 컴포넌트 리팩토링: Accordion
  package.json
  src/components/shared/accordion/Accordion.stories.tsx
  src/components/shared/accordion/Accordion.tsx
  src/components/shared/accordion/body/AccordionBody.module.scss
  src/components/shared/accordion/body/AccordionBody.tsx
  src/components/shared/accordion/body/index.module.scss
  src/components/shared/accordion/body/index.tsx
  src/components/shared/accordion/header/AccordionHeader.module.scss
  src/components/shared/accordion/header/AccordionHeader.tsx
  src/components/shared/accordion/header/index.tsx
  src/components/shared/accordion/item/AccordionItem.module.scss
  src/components/shared/accordion/item/AccordionItem.tsx
  src/components/shared/accordion/item/index.tsx
  src/components/shared/accordion/type/accordion.type.ts
  src/contexts/AccordionContext.tsx
  yarn.lock
Labels: ✨ Feature, 🔨 Refactor, ✅ Test

#103 공통 컴포넌트 리팩토링: Carousel
  package.json
  public/assets/recommendItem1.png
  public/assets/recommendItem2.png
  public/assets/recommendItem3.png
  public/assets/recommendItem4.png
  src/app/globals.css
  src/app/page.module.scss
  src/app/page.tsx
  src/components/shared/carousel/Banner.scss
  src/components/shared/carousel/Banner.tsx
  src/components/shared/carousel/RecommandList.tsx
  src/components/shared/carousel/RecommendList.stories.tsx
  src/components/shared/carousel/RecommendList.tsx
  src/components/shared/carousel/types/carousel.type.ts
  yarn.lock
Labels: 🔨 Refactor

#104 페이지 UI: 검색 페이지
  src/app/page.tsx
  src/app/search/layout.tsx
  src/app/search/page.module.scss
  src/app/search/page.tsx
  src/components/icons/Filter.tsx
  src/components/icons/Search.tsx
  src/components/shared/dropdown/Dropdown.module.scss
  src/components/shared/dropdown/Dropdown.stories.tsx
  src/components/shared/dropdown/Dropdown.tsx
  src/components/shared/header/Header.tsx
  src/components/shared/header/headerItems/RightIcon.tsx
  src/components/shared/header/types/headerType.ts
  src/components/shared/product-article/ProductArticle.module.scss
  src/components/shared/search-bar/SearchBar.module.scss
  src/components/shared/search-bar/SearchBar.tsx
Labels: ✨ Feature, 🎨 Html&css

#107 페이지 UI: 제품 상세 페이지 완성
  public/assets/icons/dropdownArrow.svg
  src/app/product/[id]/page.module.scss
  src/app/product/[id]/page.tsx
  src/components/icons/DropdownArrow.tsx
  src/components/shared/accordion/body/AccordionBody.module.scss
  src/components/shared/accordion/body/AccordionBody.tsx
  src/components/shared/accordion/header/AccordionHeader.module.scss
  src/components/shared/accordion/header/AccordionHeader.tsx
  src/components/shared/accordion/item/AccordionItem.module.scss
  src/components/shared/accordion/item/AccordionItem.tsx
Labels: ✨ Feature, 🎨 Html&css

#109 공통 컴포넌트 리팩토링: dropdown 컴포넌트
  src/app/search/page.tsx
  src/components/shared/dropdown/Dropdown.module.scss
  src/components/shared/dropdown/Dropdown.stories.tsx
  src/components/shared/dropdown/Dropdown.tsx
  src/constants/searchByMap.ts
Labels: ✨ Feature, 🔨 Refactor

#112 페이지 UI: 세차 부가정보 페이지
  src/app/car-wash-details/hydrated-page.tsx
  src/app/car-wash-details/layout.tsx
  src/app/car-wash-details/page.tsx
  src/components/additional-info/car-details/CarDetails.tsx
  src/components/additional-info/description/Description.tsx
  src/components/shared/fixedBottomButton/FixedBottomButton.module.scss
  src/components/shared/progress-bar/ProgressBar.module.scss
  src/components/shared/progress-bar/ProgressBar.tsx
  src/components/shared/text/Text.tsx
  src/remote/api/requests/additional-info/additional-info.get.api.ts
  src/remote/queries/additional-info/car-wash-details/useCarWashCost.tsx
  src/remote/queries/additional-info/car-wash-details/useCarWashFrequency.tsx
  src/remote/queries/additional-info/car-wash-details/useCarWashInterest.tsx
Labels: ✨ Feature, 🎨 Html&css

#115 페이지 제작: my-page
  src/app/my-page/car-details/layout.tsx
  src/app/my-page/car-details/page.module.scss
  src/app/my-page/car-details/page.tsx
  src/app/my-page/car-wash-details/layout.tsx
  src/app/my-page/car-wash-details/page.module.scss
  src/app/my-page/car-wash-details/page.tsx
  src/app/my-page/page.module.scss
  src/app/my-page/page.tsx
  src/app/my-page/profile/layout.tsx
  src/app/my-page/profile/page.module.scss
  src/app/my-page/profile/page.tsx
  src/app/page.tsx
  src/app/profile/page.tsx
  src/app/search/page.tsx
  src/app/signup/page.tsx
  src/components/additional-info/car-details/color-picker/ColorPicker.tsx
  src/components/shared/Input/Input.module.scss
  src/components/shared/Input/Input.tsx
  src/components/shared/bottom-nav/BottomNav.tsx
  src/components/shared/dropdown/Dropdown.module.scss
  src/components/shared/dropdown/Dropdown.tsx
  src/components/shared/fixedBottomButton/FixedBottomButton.tsx
  src/components/shared/text-field/TextField.tsx
  src/constants/myPage.ts
  src/constants/searchByMap.ts
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#119 공통 컴포넌트: Loader
  public/assets/loader.gif
  src/app/car-details/hydrated-page.tsx
  src/app/car-wash-details/hydrated-page.tsx
  src/components/shared/loader/Loader.module.scss
  src/components/shared/loader/Loader.tsx
Labels: ✨ Feature, 🎨 Html&css

#121 페이지 UI: 채널(유튜브) 페이지
  src/app/channel/page.module.scss
  src/app/channel/page.tsx
  src/components/shared/bottom-nav/BottomNav.module.scss
  src/components/shared/bottom-nav/BottomNav.tsx
  src/components/shared/channel-article/ChannelArticle.module.scss
  src/components/shared/channel-article/ChannelArticle.stories.tsx
  src/components/shared/channel-article/ChannelArticle.tsx
  src/components/shared/channel-article/ChannelList.tsx
  src/components/shared/channel-article/ChannelMoreBtn.tsx
  src/components/shared/channel-article/types/ChannelArticleType.ts
Labels: ✨ Feature, 🎨 Html&css

#122 공통 컴포넌트 수정: Modal
  src/app/withdraw/page.tsx
  src/components/shared/modal/Modal.module.scss
  src/components/shared/modal/Modal.stories.tsx
  src/components/shared/modal/Modal.tsx
  src/contexts/ModalContext.tsx
Labels: ✨ Feature, 🎨 Html&css

#131 페이지 UI: 에러 페이지
  public/assets/error.png
  src/app/global-error.module.scss
  src/app/global-error.tsx
Labels: ✨ Feature, 🎨 Html&css

#129 페이지 UI: 비밀번호 변경 페이지
  src/app/change-password/page.module.scss
  src/app/change-password/page.tsx
  src/app/find-id/layout.tsx
  src/app/find-id/page.module.scss
  src/app/find-id/page.tsx
  src/app/find-password/page.tsx
  src/app/login/page.tsx
  src/constants/validationMessage.ts
  src/remote/api/requests/auth/auth.post.api.ts
  src/remote/api/types/auth.ts
  src/remote/queries/auth/useChangePassword.ts
Labels: ✨ Feature, 🎨 Html&css

#111 페이지 UI: 지도 페이지
  public/mockServiceWorker.js
  src/app/map/page.module.scss
  src/app/map/page.tsx
  src/components/map/KakaoMap.tsx
  src/components/shared/search-bar/SearchBar.module.scss
  src/components/shared/search-bar/SearchBar.stories.tsx
  src/components/shared/search-bar/SearchBar.tsx
  src/stories/Page.stories.ts
  yarn.lock
Labels: ⚙ Setting, ✨ Feature, 🎨 Html&css

#133 페이지 기능: 홈페이지 쿼리훅 제작
  src/app/page.tsx
  src/components/shared/carousel/Banner.stories.tsx
  src/components/shared/carousel/Banner.tsx
  src/components/shared/carousel/RecommendList.stories.tsx
  src/components/shared/carousel/RecommendList.tsx
  src/components/shared/product-article/ProductArticle.stories.tsx
  src/components/shared/product-article/ProductArticle.tsx
  src/components/shared/product-article/types/ProductArticleType.ts
  src/mocks/handlers.ts
  src/mocks/homeHandler/index.ts
  src/mocks/homeHandler/mocks.ts
  src/remote/api/requests/home/home.get.api.ts
  src/remote/api/types/common.ts
  src/remote/api/types/home.ts
  src/remote/queries/home/useBanner.ts
  src/remote/queries/home/useProductList.ts
  src/remote/queries/home/useRecommendProducts.ts
Labels: ✨ Feature, ✅ Test

#136 디자인: 컬러 팔레트 반영
  src/app/change-password/page.tsx
  src/app/favorite/page.tsx
  src/app/find-id/page.tsx
  src/app/find-password/page.tsx
  src/app/global-error.tsx
  src/app/globals.css
  src/app/login/page.module.scss
  src/app/login/page.tsx
  src/app/my-page/car-details/page.module.scss
  src/app/my-page/car-details/page.tsx
  src/app/my-page/car-wash-details/page.module.scss
  src/app/my-page/car-wash-details/page.tsx
  src/app/my-page/page.module.scss
  src/app/my-page/page.tsx
  src/app/my-page/profile/page.module.scss
  src/app/my-page/profile/page.tsx
  src/app/product/[id]/page.module.scss
  src/app/product/[id]/page.tsx
  src/app/required-password/page.tsx
  src/app/search/page.tsx
  src/app/signup/page.tsx
  src/app/withdraw/page.module.scss
  src/app/withdraw/page.tsx
  src/components/additional-info/car-details/color-picker/ColorPicker.module.scss
  src/components/additional-info/description/Description.tsx
  src/components/additional-info/details-loading/DetailsLoading.tsx
  src/components/icons/CloseEys.tsx
  src/components/icons/OpenEye.tsx
  src/components/icons/Search.tsx
  src/components/shared/Input/Input.module.scss
  src/components/shared/accordion/Accordion.module.scss
  src/components/shared/bottom-nav/BottomNav.tsx
  src/components/shared/button/Button.stories.tsx
  src/components/shared/button/Button.tsx
  src/components/shared/carousel/Banner.scss
  src/components/shared/dropdown-field/DropdownField.tsx
  src/components/shared/dropdown/Dropdown.module.scss
  src/components/shared/dropdown/Dropdown.tsx
  src/components/shared/loader/Loader.module.scss
  src/components/shared/modal/Modal.tsx
  src/components/shared/product-article/ProductArticle.tsx
  src/components/shared/progress-bar/ProgressBar.module.scss
  src/components/shared/radio/Radio.module.scss
  src/components/shared/scroll-to-top/ScrollToTop.module.scss
  src/components/shared/scroll-to-top/ScrollToTop.tsx
  src/components/shared/search-bar/SearchBar.module.scss
  src/components/shared/skeleton/Skeleton.module.scss
  src/components/shared/spacing/Spacing.stories.tsx
  src/components/shared/text-field/TextField.tsx
  src/components/shared/text/Text.stories.tsx
  src/components/shared/text/Text.tsx
  src/components/shared/title/Title.stories.tsx
  src/styles/button.ts
  src/styles/colorPalette.ts
  src/styles/variable.ts
Labels: 🎨 Html&css

#140 Revert "페이지 UI: 지도 페이지 "
  public/mockServiceWorker.js
  src/app/map/page.module.scss
  src/app/map/page.tsx
  src/components/map/KakaoMap.tsx
  src/components/shared/search-bar/SearchBar.module.scss
  src/components/shared/search-bar/SearchBar.stories.tsx
  src/components/shared/search-bar/SearchBar.tsx
  src/stories/Page.stories.ts
  yarn.lock
Labels: 🐞 BugFix

#139 공통 컴포넌트: Header
  .storybook/preview.ts
  package.json
  src/app/car-details/hydrated-page.tsx
  src/app/car-wash-details/hydrated-page.tsx
  src/app/change-password/page.tsx
  src/app/channel/page.tsx
  src/app/favorite/page.module.scss
  src/app/favorite/page.tsx
  src/app/find-id/page.tsx
  src/app/find-password/page.tsx
  src/app/login/page.tsx
  src/app/map/page.tsx
  src/app/my-page/car-details/page.tsx
  src/app/my-page/car-wash-details/page.tsx
  src/app/my-page/profile/page.tsx
  src/app/page.tsx
  src/app/product/[id]/page.tsx
  src/app/required-password/page.tsx
  src/app/search/page.tsx
  src/app/signup/page.test.tsx
  src/app/signup/page.tsx
  src/app/withdraw/page.tsx
  src/components/shared/header/Header.module.scss
  src/components/shared/header/Header.stories.tsx
  src/components/shared/header/Header.tsx
  src/components/shared/header/headerItems/LeftIcon.tsx
  src/components/shared/header/headerItems/RightIcon.tsx
  src/components/shared/header/types/headerType.ts
  src/hooks/useNavigation.ts
  yarn.lock
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#142 페이지 UI: 지도 페이지
  public/assets/icons/currentLocation.svg
  src/app/map/page.module.scss
  src/app/map/page.tsx
  src/components/icons/CurrentLocation.tsx
  src/components/shared/map/CurrentLocationButton.module.scss
  src/components/shared/map/CurrentLocationButton.tsx
  src/components/shared/map/KakaoMap.tsx
  src/components/shared/search-bar/SearchBar.module.scss
  src/components/shared/search-bar/SearchBar.stories.tsx
  src/components/shared/search-bar/SearchBar.tsx
Labels: ✨ Feature, 🎨 Html&css

#144 스타일: 페이지 패딩 global css 적용
  src/app/car-details/layout.tsx
  src/app/car-wash-details/layout.tsx
  src/app/change-password/page.module.scss
  src/app/change-password/page.tsx
  src/app/channel/page.module.scss
  src/app/favorite/page.module.scss
  src/app/favorite/page.tsx
  src/app/find-id/page.module.scss
  src/app/find-id/page.tsx
  src/app/find-password/page.module.scss
  src/app/find-password/page.tsx
  src/app/globals.css
  src/app/login/layout.tsx
  src/app/login/page.tsx
  src/app/map/page.module.scss
  src/app/my-page/car-details/layout.tsx
  src/app/my-page/car-details/page.tsx
  src/app/my-page/car-wash-details/layout.tsx
  src/app/my-page/car-wash-details/page.tsx
  src/app/my-page/page.module.scss
  src/app/my-page/page.tsx
  src/app/my-page/profile/layout.tsx
  src/app/my-page/profile/page.tsx
  src/app/page.module.scss
  src/app/product/[id]/page.module.scss
  src/app/required-password/layout.tsx
  src/app/required-password/page.tsx
  src/app/search/layout.tsx
  src/app/search/page.module.scss
  src/app/search/page.tsx
  src/app/signup/layout.tsx
  src/app/signup/page.tsx
  src/app/withdraw/layout.tsx
  src/app/withdraw/page.module.scss
  src/app/withdraw/page.tsx
  src/components/additional-info/car-details/CarDetails.tsx
Labels: 🎨 Html&css, 🔨 Refactor

#146 페이지 기능: 회원가입 페이지 DropdownField 컴포넌트 적용
  src/app/signup/page.tsx
  src/components/shared/dropdown-field/DropdownField.tsx
  src/components/shared/dropdown/Dropdown.module.scss
  src/components/shared/dropdown/Dropdown.tsx
  src/remote/api/types/auth.ts
Labels: ✨ Feature, 🎨 Html&css
